/*LOGOS*/
#logo_wrapper{
    width: 25vmin;
    height: 5vmin;

    display: flex;

    z-index: 12;
}

#logos_lang{
    width: 5vmin;
    height: 10vmin;

    z-index: 12;
}

#logo_cv, #logo_eng, #logo_tr, #logo_email, #logo_dot, #logo_return, #logo_filter{
    width: 5vmin;
    height: 5vmin;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: inherit;
}

#logo_return{
    position: absolute;
    top: 1.5vmin;
    right: 20vmin;

    visibility: hidden;
    opacity: 0%;
}


#image_cv, #image_eng, #image_tr, #image_email, #image_dot, #image_copypaste, #image_return, #image_filter{
    width: 3.5vmin;
    height: 3.5vmin;

    padding: 0.3vmin;

    z-index: inherit;
}

#image_cv:hover, #image_eng:hover, #image_tr:hover, #image_email:hover, #image_copypaste:hover, #image_return:hover{
    border-width: 0.5vmin;
    border-radius: 4.1vmin;
    border-style: solid;
    cursor: pointer;
}


#logo_eng, #logo_tr, #logo_cv, #logo_return{
    transition: visibility 0s, opacity 0.4s;
}

#logo_tr{
    visibility: hidden;
    opacity: 0%;
}

#lang_dropdown{
    width: 4.2vmin;
    height: 0vmin;  /*9vmin*/

    visibility: hidden;
    opacity: 0%;
    
    position: absolute;
    right: 9.95vmin;
    top: 1.45vmin;

    background-color: var(--bg_black);

    border-width: 0.5vmin;
    border-radius: 4.5vmin;
    border-style: solid;

    transition: 0.4s;
}


#email_wrapper{
    height: 4.2vmin;
    width: 40vmin;

    position: absolute;
    top: 1.4vmin;
    left: calc(100vw);

    font-size: 2vmin;
    font-weight: 400;

    display: flex;
    justify-content: left;
    align-items: center;

    border-width: 0.5vmin;
    border-top-left-radius: 5vmin;
    border-bottom-left-radius: 5vmin;
    border-style: solid;

    background-color: var(--bg_black);

    transition: 0.5s;
    z-index: 12;

}

#logo_copypaste{
    width: 4.2vmin;
    height: 4.2vmin;

    margin-right: 1vmin;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: inherit;
}





