/*LOGOS*/
#logo_wrapper{
    width: 25vmin;
    height: 5vmin;

    display: flex;

    z-index: 10;
}

#logos_lang{
    width: 5vmin;
    height: 10vmin;

    z-index: 11;
}

#logo_cv, #logo_eng, #logo_tr, #logo_email, #logo_dot{
    width: 5vmin;
    height: 5vmin;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: inherit;
}



#image_cv, #image_eng, #image_tr, #image_email, #image_dot{
    width: 3.5vmin;
    height: 3.5vmin;

    padding: 0.3vmin;

    z-index: inherit;
}

#image_cv:hover, #image_eng:hover, #image_tr:hover, #image_email:hover{
    border-width: 0.5vmin;
    border-radius: 50%;
    border-style: solid;
    cursor: pointer;
}

#logo_eng, #logo_tr{
    transition: visibility 0s, opacity 0.4s;
}



#logo_tr{
    visibility: hidden;
    opacity: 0%;
}

#lang_dropdown{
    width: 4.1vmin;
    height: 0vmin;  /*9vmin*/

    visibility: hidden;
    opacity: 0%;
    
    position: absolute;
    right: 9.95vmin;
    top: 1.45vmin;

    background-color: var(--bg_black);

    border-width: 0.5vmin;
    border-radius: 4.5vmin;
    border-style: solid;

    transition: 0.4s;
}






/*S LOGOS*/
#logo_S, #logo_S_red, #logo_S_purple, #logo_S_orange, #logo_S_turqoise, #logo_S_green{
    width: 4.9vmin;
    height: 6.5vmin;

    position: absolute;
    bottom: 0.75vmin;
    right: 0.75vmin;

    background-size: 4.9vmin;

    z-index: 10;
    transition: 0.2s;
}

#logo_S{
    background: url(../assets/logo_white.svg);
}

#logo_S_red{
    background: url(../assets/logo_red.svg);
}

#logo_S_purple{
    background: url(../assets/logo_purple.svg);
}

#logo_S_orange{
    background: url(../assets/logo_orange.svg);
}

#logo_S_turqoise{
    background: url(../assets/logo_turqoise.svg);
}

#logo_S_green{
    background: url(../assets/logo_green.svg);
}