/* RESPONSIVE VIA: EVERYTHING OF VMIN */

/*Library
Animation:          https://www.youtube.com/watch?v=YszONjKpgg4&ab_channel=WebDevSimplified
Sweep Animation:    https://www.youtube.com/watch?v=W9XEARppU8s&t=213s&ab_channel=OnlineTutorials
Google Analytics:   https://www.youtube.com/watch?v=K9ExoBi7AXw&ab_channel=DMSAnalytics




Don't put a redirect to the landing page. (Funnel people to realize that the navbar menu is an active element.)
*/

:root {                         /*Global Variables */
    --swatch_red:hsl(0, 60%, 50%);        /*Look at saturation value to select non-invasive colors*/
    --swatch_purple:hsl(295, 60%, 50%);
    --swatch_orange:hsl(30, 60%, 50%);
    --swatch_turqoise:hsl(167, 60%, 50%);
    --swatch_green:hsl(81, 60%, 50%);


    --bg_black: rgb(21,21,21);
    --swatch_angle_step: 25deg;         /* Just changing here will reflect to any js use as well*/
    --navmen_y_step: 4vmin;
    --visualization_border_width:0px;

}

*{                              /*Formats all*/
    margin:0px;
    padding:0px;
    
    border-style: solid;
    border-width: var(--visualization_border_width);
    color: rgb(255, 255, 255);
}

title{
    display: none;
}

body{
    width:100vw;                /*Head kullanmayıp, sadece body kullandığımız ve onu da 100 vw,vh ile ölçeklendirdiğimiz için hiçbir zaman scrollable olamayacak, nice*/
    height:100vh;

    font-family: 'League Spartan', sans-serif;

    background: var(--bg_black);

    overflow: hidden;           /*Non-Scrollable Page*/
}

h1{
    padding-top: 2vh;

    font-size: 4vmin;
    font-weight: 550;
    text-align: center;

    
    

}


p{
    padding-top: 1vh;

    font-size: 2vmin;
    font-weight: 400;
    text-align: justify;

}

ul{
    list-style-type: none;
}

button {
    border: none;
    background: none;
    font-family : inherit;
    cursor: pointer;
}