/* RESPONSIVE VIA: EVERYTHING OF VMIN */

/*Library
Animation:              https://www.youtube.com/watch?v=YszONjKpgg4&ab_channel=WebDevSimplified
Sweep Animation:        https://www.youtube.com/watch?v=W9XEARppU8s&t=213s&ab_channel=OnlineTutorials
Responsiveness:         https://youtu.be/ZYV6dYtz4HA
Google Analytics:       https://www.youtube.com/watch?v=K9ExoBi7AXw&ab_channel=DMSAnalytics
Use Custom Domain:      https://www.youtube.com/watch?v=EX4w9hsduNA&ab_channel=TonyTeachesTech
Enforce HTTPS:          https://www.youtube.com/watch?v=FBtehan5DAo&ab_channel=WhatMakeArt
Solving Chrome Mobile Overflow due to URL Bar Sizing Issue: https://developer.chrome.com/blog/url-bar-resizing/
List website on Google: https://www.youtube.com/watch?v=qy7WKGAx4qw&ab_channel=MrCoding
SVG Map:                https://mapsvg.com/maps/world
Zoom & Pan:             https://www.youtube.com/watch?v=XqaY2dDOzV8&ab_channel=DionSnoeijen
   

Don't put a redirect to the landing page. (Funnel people to realize that the navbar menu is an active element.)
*/


/*  WHEN ADDING NEW SECTION
NEW PAGE:   swatch.css:   something to rotate, something to hover
            S_logos.css:  1 common, 1 image
            main.css:     1 color
            pages.css:    whatever you need

            swatch.js:    swatch_element count one up
            page_changer.js: page_count one up and follow

NEW PROJECT:pages.css:    whatever you need

            page_expander.js: and follow */

:root {                         /*Global Variables */
    --swatch_red:hsl(0, 60%, 50%);        /*Look at saturation value to select non-invasive colors*/
    --swatch_purple:hsl(295, 60%, 50%);
    --swatch_orange:hsl(30, 60%, 50%);
    --swatch_turqoise:hsl(175, 60%, 50%);
    --swatch_green:hsl(81, 60%, 50%);


    --bg_black: rgb(21,21,21);
    --swatch_angle_step: 25deg;         /* Just changing here will reflect to any js use as well*/
    --navmen_y_step: 4vmin;
    --mobmen_x_step: 50vw;
    --visualization_border_width:0px;

    /* Mobile Menu */
    --mobile_header_height: 8vmin;
    --mobile_menu_height: 16vmin;

}


*{                              /*Formats all*/
    margin:0px;
    padding:0px;
    
    border-style: solid;
    border-width: var(--visualization_border_width);
    color: rgb(255, 255, 255);

    line-height: 0.94;      /*Critical to make it consistent across browsers*/

}

.screen{
    width: 100vw;
    height: 100vh;
    position: absolute;

    background-color: var(--bg_black);
}

.error{
    width: 80vw;
    height: 50vh;

    position: absolute;
    margin-top: 10vh;
    margin-left: 10vw;

    font-size: 5vmin;
    font-weight: 600;
    text-align: justify;

}



title{
    display: none;
}

html{
    width:100%;                 /* Must size %100 rather than 100vh to fix android cutoff issue*/
    height:100%;
}

body{
    width:100%;                 /*Head kullanmayıp, sadece body kullandığımız ve onu da 100 vw,vh ile ölçeklendirdiğimiz için hiçbir zaman scrollable olamayacak, nice*/
    height:100%;                /* Must size %100 rather than 100vh to fix android cutoff issue*/

    font-family: 'League Spartan', sans-serif;

    background: var(--bg_black);

    overflow: hidden;           /*Non-Scrollable Page*/
}

h1{
    padding-top: 2vmin;

    font-size: 4vmin;
    font-weight: 550;
    text-align: center;

    
    

}


p{
    padding-top: 1vh;

    font-size: 2vmin;
    font-weight: 400;
    text-align: justify;

}

ul{
    list-style-type: none;
}

button {
    border: none;
    background: none;
    font-family : inherit;
    cursor: pointer;
}









