#mobile_notification{
    width: calc(100vw - 2* (3vmin + 10.2vmin) - 2vmin);

    position: absolute;
    top: calc(var(--mobile_header_height) + 2vmin + 3vmin);
    left: 13.2vmin;

    border-color: white;
    border-style: solid;
    border-width: 1vmin;
    border-radius: 8vmin;


    background-color: var(--bg_black);

    visibility: hidden;
    opacity: 0%;
    transition: 0.4s;

    z-index: 10;
}

#mobile_notification_text{
    padding-top: calc(4vmin - 4.5vmin / 2);
    padding-bottom: calc(4vmin - 4.5vmin / 2);

    color: white;
    font-size: 4.5vmin;
    font-weight: 550;
    text-align: center;
}


#mobile_sidebar{
    width: 12vmin;

    position: absolute;
    top: calc(var(--mobile_header_height) + 4vmin);
    left: calc(100vw - 14vmin);

    padding-top: 1vmin;
    padding-bottom: 1vmin;


    overflow: hidden;

    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    align-items: center;
    grid-row-gap: 4vmin;

    z-index: 3; /*Project Page açıkken de görünsün ki project page'in dili değiştirilebilsin. */

}

.mobile_logo{
    width: 10vmin;
    height: 10vmin;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s;

    z-index: inherit;

    border-radius: 8.2vmin;
    background-color: var(--bg_black);
}



.mobile_image{
    width: 7vmin;
    height: 7vmin;

    padding: 0.6vmin;

    display: block;
    border-color: white;
    border-width: 1vmin;
    border-radius: 8.2vmin;
    border-style: solid;

    transform: background-color 0.4s;
    z-index: inherit;
}

#mobile_logo_dots{
    transform-origin: center;
}

#mobile_logo_cv{
    right: -12vmin;
    transition-delay: 0ms;
    transition-property: right;
}

#mobile_logo_lang{
    right: -12vmin;
    transition-delay: calc(var(--sidebar_delay_step) * 1);
    transition-property: right;
}


#mobile_logo_email{
    right: -12vmin;
    transition-delay: calc(var(--sidebar_delay_step) * 2);
    transition-property: right;
}

#mobile_logo_instagram{
    right: -12vmin;
    transition-delay: calc(var(--sidebar_delay_step) * 3);
    transition-property: right;
}

#mobile_logo_twitter{
    right: -12vmin;
    transition-delay: calc(var(--sidebar_delay_step) * 4);
    transition-property: right;
}

#mobile_logo_kofi{
    right: -12vmin;
    transition-delay: calc(var(--sidebar_delay_step) * 5);
    transition-property: right;
}