#mobile_menu{
    width: 100vw;
    height: var(--mobile_menu_height);

    padding-top: 2vmin;

    position: fixed;
    bottom: 0vmin;  /* If given from top, androd cutoff problem occurs*/
    left: 0vmin;

    border-top-style: solid;
    border-top-width: 0.75vmin;
    border-top-color: white;

    background-color: var(--bg_black);

    display: none;
    overflow: hidden;

    z-index: 10;

}

.mobile_menu_element{
    width: 50vw;
    height: auto;

    margin-top: calc((var(--mobile_menu_height) - 8vmin) /2);
    margin-left: 25vw;

    position: absolute;
    
    color: white;
    text-align: center;
    font-size: 8vmin;
    font-weight: 550;

    transition: 0.4s;



}
