/*NAVBAR*/
#navbar_wrapper{
    width: 100vw;
    height: 8vmin;

    display: flex;
    align-items: center;
    justify-content: right;

    z-index: 2;
}

#navbar_name{
    text-align: center;
    padding-top: 1vmin;
    padding-left: 3vmin;

    font-size: 4.5vmin;
    font-weight: 550; 

    opacity: 0%;
    transition: 0.4s;

    z-index: inherit;

}

#navbar_menu{
    width: calc(100vw - 78.2vmin);
    height: 8vmin;

    opacity: 0%;
    transition: 0.4s;

    z-index: inherit;
}

#navbar_roboticist, #navbar_botsmith, #navbar_inventor, #navbar_writer, #navbar_traveller{
    width: 25vmin;
    
    position: absolute;
    margin-left: calc((100vw - 78.2vmin)/2 - 10vmin);
    
    color: white;
    font-size: 4.5vmin;
    font-weight: 550;
    text-align: center;
    padding-top: 2.4vmin;

    transition: 0.2s;

}

#navbar_menu:hover{
    background-color: aliceblue;
}


