/*NAVBAR*/
#navbar_wrapper{
    width: 100vw;
    height: 8vmin;

    display: flex;
    align-items: center;
    justify-content: right;

}

#navbar_name{
    padding-top: 1vmin;
    padding-left: 3vmin;

    font-size: 4.5vmin;
    font-weight: 550;
    text-align: center;

    opacity: 0%;
    transition: 0.4s;

    z-index: inherit;

    cursor: default;
    z-index: 2;
}

#navbar_menu{
    width: calc(100vw - 88.2vmin);
    height: 8vmin;

    visibility: hidden;
    opacity: 0%;
    transition: visibility 0s, opacity 0.4s;

    z-index: 2;
}

.navbar_menu_element{
    width: 25vmin;
    
    position: absolute;
    margin-left: calc((100vw - 78.2vmin)/2 - 10vmin);
    
    color: white;
    font-size: 4.5vmin;
    font-weight: 550;
    text-align: center;
    padding-top: 2.4vmin;

    transition: 0.2s;
    cursor: pointer;
}


