/*PAGES*/

/* GENERAL */
#page_roboticist, #page_botsmith, #page_inventor, #page_writer, #page_traveller{
    width: calc(100vw - 6vmin);
    height: calc(100vh - 8.75vmin);

    position: absolute;
    top: 8.75vmin;
    left: 3vmin;

    visibility: hidden;
    opacity: 0%;
    transition: visibility 0s, opacity 0.4s;

    z-index: 2;

}


#page_roboticist, #page_botsmith, #page_inventor, #page_writer{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

#page_roboticist::-webkit-scrollbar, #page_botsmith::-webkit-scrollbar, #page_inventor::-webkit-scrollbar, #page_writer::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}


.relevant_skills{
    column-count: 3;
}


.projects{
    width: calc(100vw - 2 * 6.4vmin);

    position: relative;
    top: 2vmin;
    left: 3.4vmin;


    display: grid;
    grid-template-columns: 2fr 2fr 2fr;
    gap: calc((100vw - 2 * 6.4vmin) / 8);
}


.project_container{
    width: calc(2 * (100vw - 2 * 6.4vmin) / 8);
    height: calc(2 * (100vw - 2 * 6.4vmin) / 8);
    background-color: red;
}














/*ROBOTICIST*/

/*BOTSMITH*/

/*INVENTOR*/

/* WRITER */
.post_container{
    width: 50vw;

    position: relative;
    left: calc((100vw - 6vmin - 50vw)/2);
}

.post_title{
    padding-top: 2vh;

    font-size: 3vmin;
    font-weight: 550;
    text-align: justify;

}

.post_tag{

    font-size: 1.5vmin;
    font-weight: 400;
    text-align: justify;
}

.post_content{
    padding-top: 1vh;

    font-size: 2vmin;
    font-weight: 400;
    text-align: justify;

    transition: visibility 0s, opacity 0.4s;
}

#filter_container{
    width: calc((100vw - 6vmin - 50vw)/2 - 3vmin);
    height: calc((100vh - 8.75vmin)/2);
 
    position: absolute;
}

#logo_filter{
    position: absolute;
    top: 1.25vh;
}

#filter_buttons_container{
    position: absolute;
    top: 5vmin;
    left: 1.5vmin;
    
}

.filter_button_container{
    height: 2vmin;

    padding-top: 1vmin;
}

.filter_button{
    height: 2vmin;
    width: 2vmin;

    border-style: solid;
    border-width: 0.5vmin;
    border-color: white;

    background: none;

    cursor:pointer;

     

}


#filter_1, #filter_2, #filter_3, #filter_4{
    background-color: var(--bg_black);
}

/* TRAVELLER */
#map{
    width: calc(100vw - 6vmin);
    
}

/* CV */
#page_cv{
    width: 100vw;
    height: calc(100vh - 8.75vmin);

    position: absolute;
    top: 100vh;

    background-color: var(--bg_black);
    
    transition: 1s;
    z-index: 11;

}

#cv_pdf_eng, #cv_pdf_tr{
    width: 100%;
    height: calc(100vh - 8.75vmin);

    position: absolute;

    transition: visibility 0s, opacity 0.2s;

}

#cv_pdf_tr{
    opacity: 0%;
    visibility: hidden;
}