/*PAGES*/

/* MAIN PAGES */
.page_content{
    width: calc(100vw - 6vmin);
    height: calc(100vh - 8.75vmin);

    position: absolute;
    top: 8.75vmin;
    left: 3vmin;

    visibility: hidden;
    opacity: 0%;
    transition: visibility 0s, opacity 0.4s;

    z-index: 2;

}

#page_roboticist, #page_botsmith, #page_designer, #page_writer{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

#page_traveller{
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
    overflow: hidden;
}

#page_roboticist::-webkit-scrollbar, #page_botsmith::-webkit-scrollbar, #page_designer::-webkit-scrollbar, #page_writer::-webkit-scrollbar, #page_traveller::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
}


/* PROJECT GRID */
.relevant_skills{
    width: calc(100vw - 2 * 6.4vmin);

    position: relative;
    left: 3.4vmin;

    font-size: 3vmin;
    font-weight: 400;
    text-align: center;

    column-count: 3;

    /*
    <h1 class="header_botsmith"> 
      RELEVANT SKILLS
    </h1>
    <div class="relevant_skills">
      <ul>
        <li>• A</li><li>• B</li><li>• C</li><li>• D</li><li>• E</li><li>• F</li><li>• G</li><li>• A</li><li>• B</li><li>• C</li><li>• D</li><li>• E</li>
      </ul>
    </div>
    */
}

.projects{
    width: calc(100vw - 2 * 6.4vmin);

    position: relative;
    top: 2vmin;
    left: 3.4vmin;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    grid-column-gap: 5vmin;
}

.project_container{
    width: 30vmin;
    height: 30vmin;

    margin-top: 0vmin;
    margin-bottom: 10vmin;
    
    border-radius: 1vmin;

    transition: 0.25s;
}

.project_container_roboticist:hover{
    background-color: var(--swatch_red);
    box-shadow: 0 0 10vmin var(--swatch_red);
}

.project_container_botsmith:hover{
    background-color: var(--swatch_purple);
    box-shadow: 0 0 10vmin var(--swatch_purple);
}

.project_container_designer:hover{
    background-color: var(--swatch_orange);
    box-shadow: 0 0 10vmin var(--swatch_orange);
}

.project_logo{
    width: 10vmin;
    height: 10vmin;
    
    display: block;
    margin-right: auto;
    margin-left: auto;


    padding-top: 2vmin;
}

.project_intro{             /*3 Lines are allowed*/
    padding-top: 1vmin;
    padding-bottom: 1vmin;
    padding-right: 0.5vmin;
    padding-left: 0.5vmin;

    font-size: 2vmin;
    font-weight: 400;
    text-align: justify;
}

.project_expand{
    padding-top: 1vmin;

    font-size: 2vmin;
    font-weight: 400;
    text-align: center;

    border-top-style: solid;
    border-top-width: 0.5vmin;
    border-color: white;
}



/* EXPANDED PROJECT */
.project_page{
    width: calc(100vw - 2 * 6.4vmin);

    position: absolute;
    top: 0vmin;
    left: 3.4vmin;

    height: 0vmin;
    opacity: 0%;

    transition: height 0.4s, opacity 0.4s;  /*Instead of transition: 0.4s do it like this so that the blanket can be translated without delay in project_page_expander */
    z-index: 3;

}

.project_page_return_button{
    width: 5.1vmin;
    height: 5.1vmin;

    position: absolute;
    top: 3vmin;
    left: 3vmin;

    display: none;
    justify-content: center;
    align-items: center;

    z-index: 4;

    border-radius: 5.1vmin;
    background-color: var(--bg_black);
}

.image_project_return{
    width: 3.5vmin;
    height: 3.5vmin;

    padding: 0.3vmin;

    border-width: 0.5vmin;      /* Gerekirse yeniden hovera alınabilir*/
    border-radius: 5.1vmin;
    border-style: solid;
    cursor: pointer;
}

.project_content{
    width: calc(100vw - 2 * 6.4vmin - 6vmin);

    position: absolute;
    padding-left: 3vmin;
    padding-right: 3vmin;
    
    font-size: 2vmin;
    font-weight: 400;
    text-align: justify;

    height: 0vmin;
    opacity: 0%;
    visibility: hidden;

    transition: 0.4s;

    -ms-overflow-style: none; /* for Internet Explorer, Edge */     /*It's laggy when this is here and not in project page wtf*/
    scrollbar-width: none; /* for Firefox */
    overflow-y: scroll;
}

.project_content::-webkit-scrollbar{
    display: none; /* for Chrome, Safari, and Opera */
}


/* ROBOTICIST PAGE */
.header_roboticist{
    color: var(--swatch_red);
    text-shadow: 0 0 50px var(--swatch_red);
}

#project_page_roboticist_blanket{
    background-color: var(--swatch_red);
}



/* BOTSMITH PAGE */
.header_botsmith{
    color: var(--swatch_purple);
    text-shadow: 0 0 50px var(--swatch_purple);
}

#project_page_botsmith_blanket{
    background-color: var(--swatch_purple);
}



/* DESIGNER PAGE */
.header_designer{
    color: var(--swatch_orange);
    text-shadow: 0 0 50px var(--swatch_orange);
}

#project_page_designer_blanket{
    background-color: var(--swatch_orange);
}



/* WRITER PAGE */
#project_page_writer_blanket{
    background-color: var(--swatch_turqoise);
}

.post_container{
    width: 50vw;

    position: relative;
    left: calc((100vw - 6vmin - 50vw)/2);
}

.post_title{
    padding-top: 2vmin;

    font-size: 3vmin;
    font-weight: 550;
    text-align: justify;

}

.post_tag{
    font-size: 1.75vmin;
    font-weight: 400;
    padding-left: 0.5vmin;
}

.post_content{
    padding-top: 1vh;

    font-size: 2vmin;
    font-weight: 400;
    text-align: justify;

    transition: visibility 0s, opacity 0.4s;
}

/* WRITER FILTER */
#filter_container{
    width: calc((100vw - 6vmin - 50vw)/2 - 3vmin);
    height: calc((100vh - 8.75vmin)/2);
 
    position: absolute;
}

#logo_filter{
    position: absolute;
    top: 1.25vmin;
}

#filter_buttons_container{
    position: absolute;
    top: 7vmin;
    left: 1.75vmin;

    pointer-events: none;
}

.filter_button_container{
    height: 3vmin;

    padding-left: 0.25vmin;;

    pointer-events: none;
}

.filter_button{
    height: 1.4vmin;
    width: 1.4vmin;

    border-style: solid;
    border-width: 0.35vmin;
    border-color: var(--bg_black);

    outline-style: solid;
    outline-width: 0.35vmin;
    outline-color: white;

    background: none;

    cursor:pointer;
    pointer-events: all;

}


#filter_1, #filter_2, #filter_3, #filter_4{
    background-color: white;
    pointer-events: all;
}



/* TRAVELLER MAP */
#map{
    width: calc(100vw - 6vmin);
}

#traveller_instagram_follow{
    margin-left: 5vw;
    width: 90vw;
    height: 11vmin;
    background: #f09433; 
    background: -moz-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%); 
    background: -webkit-linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    background: linear-gradient(45deg, #f09433 0%,#e6683c 25%,#dc2743 50%,#cc2366 75%,#bc1888 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f09433', endColorstr='#bc1888',GradientType=1 );
    
    border-style: solid;
    border-width: 1vmin;
    border-radius: 11vmin;
    border-color: white;

    font-size: 6vmin;
    padding-top: 0.625vmin;
    font-weight: 550;
    text-align: center;

}

#desktop_traveller_container{
    width: calc(100vw - 2 * 6.4vmin);
    left: 3.4vmin;
    position: absolute;
    height: 100%;

    overflow: hidden;

}

#world_map{
    transform-origin: 0 0;
    
}

svg path{
    fill: var(--map_green);
    stroke: white;
    stroke-width: .25;
}

svg path:hover{
    fill: var(--swatch_green);
}

#TR, #EG, #IT, #CH, #FR, #DE, #AT, #HU, #PL, #DK, #SE{
    fill: var(--swatch_green);
}
#TR:hover, #EG:hover, #IT:hover, #CH:hover, #FR:hover, #DE:hover, #AT:hover, #HU:hover, #PL:hover, #DK:hover, #SE:hover{
    cursor: pointer;
}


/* TRAVELLER COVER GALLERY */
#project_page_traveller_blanket{
    background-color: var(--bg_black);
    box-shadow: -1vmin 0 0 0 var(--swatch_green) inset, 1vmin 0 0 0 var(--swatch_green) inset; /* Border left & right */

}

.header_traveller{
    position: relative;
    top: 3.7vmin;

    font-size: 4vmin;
    font-weight: 550;
    text-align: center;
}

.covers_gallery{
    width: calc(100vw - 2 * 6.4vmin - 6vmin - var(--traveller_cover_gap));
    padding-left:calc(var(--traveller_cover_gap)/2);
    padding-right:calc(var(--traveller_cover_gap)/2);
    padding-bottom: var(--traveller_cover_gap);
    position: absolute;
    top: 11vmin;


    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    grid-auto-flow: dense;
    grid-gap: calc(var(--traveller_cover_gap)/2);


}

.covers_gallery button{
    position: relative;
}

.covers_gallery button img{
    width: 100%;
    height: 100%;

    object-fit: cover;
    aspect-ratio: 1;
    border-radius: 1vmin;
}

.cover_overlay{
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0vmin;

    opacity: 0;
    transition: 0.2s ease;

    background-color: hsla(81, 60%, 50%, 80%);
    border-radius: 1vmin;

    display: flex;
    justify-content: center;
    align-items: center;

}

.cover_overlay_text{
    font-size: 2.5vmin;
    font-weight: 450;
    text-align: center;
}

.covers_gallery button:hover .cover_overlay{
    opacity: 1;
}


/* TRAVELLER CAROUSEL */
#carousel_gallery{
    position: absolute;
    width: 100%;
    height: 100%;

    background-color: var(--bg_black);
    box-shadow: -1vmin 0 0 0 var(--swatch_green) inset, 1vmin 0 0 0 var(--swatch_green) inset; /* Border left & right */
    opacity: 100%;

    display: none;

    z-index: 5;

    

}

#carousel_controls{
    position: absolute;
    width: 100%;
    height: 100%;

}

.gallery_button{
    width: 5vmin;
    height: 5vmin;

    position: absolute;
    
    display: flex;
    justify-content: center;
    align-items: center;

}

#gallery_return_button{
    top: 3vmin;
    left: 3vmin;
}

#gallery_left_button{
    top: calc(50% - 2.5px);
    left: 3vmin;
}


#gallery_right_button{
    top: calc(50% - 2.5px);
    right: 3vmin;
}

.carousel_container{
    width: calc(100% - 2*11vmin);
    height: calc(100% - 11vmin);

    position: absolute;
    left: 11vmin;
    bottom: 0vmin;

    display: none;
    justify-content: center;
    align-items: center;
}

.carousel_container img{
    position: absolute;

    object-fit: contain;
    max-width: 100%;
    max-height: 100%;

    display:none;
}

#carousel_title{
    width: calc(100% - 2*11vmin);

    position: absolute;
    top: 3.7vmin;
    left: 11vmin;
    
    font-size: 4vmin;
    font-weight: 550;
    text-align: center;
}

#carousel_counter{
    position: absolute;
    top: 4.2vmin;
    right: 3vmin;

    font-size: 3.5vmin;
    font-weight: 550;
    text-align: center;
}






/* NEW PAGE */





/* CV */
#page_cv{
    width: 100vw;
    height: calc(100vh - 8vmin);

    position: absolute;
    top: 100vh;

    background-color: var(--bg_black);
    
    transition: 1s;
    z-index: 11;

}

#cv_pdf_eng, #cv_pdf_tr{
    width: 100%;
    height: calc(100vh - 8.75vmin);

    position: absolute;

    transition: visibility 0s, opacity 0.2s;

}

#cv_pdf_tr{
    opacity: 0%;
    visibility: hidden;
}