/*S LOGOS*/
#logo_S, #logo_S_red, #logo_S_purple, #logo_S_orange, #logo_S_turqoise, #logo_S_green{
    width: 4.9vmin;
    height: 6.5vmin;

    position: absolute;
    bottom: 0.75vmin;
    right: 0.75vmin;
    
    z-index: 10;
    transition: 0.2s;

    pointer-events: none;
}

#logo_S{
    background: url(../assets/Slogo_white.svg) no-repeat;
}

#logo_S_red{
    background: url(../assets/Slogo_red.svg) no-repeat;
}

#logo_S_purple{
    background: url(../assets/Slogo_purple.svg) no-repeat;
}

#logo_S_orange{
    background: url(../assets/Slogo_orange.svg) no-repeat;
}

#logo_S_turqoise{
    background: url(../assets/Slogo_turqoise.svg) no-repeat;
}

#logo_S_green{
    background: url(../assets/Slogo_green.svg) no-repeat;
}

/* Add with background and add into common format above*/