:root {                         /*Global Variables */
    --swatch_red:hsl(0, 60%, 50%);        /*Look at saturation value to select non-invasive colors*/
    --swatch_purple:hsl(295, 60%, 50%);
    --swatch_orange:hsl(30, 60%, 50%);
    --swatch_turqoise:hsl(167, 60%, 50%);
    --swatch_green:hsl(81, 60%, 50%);

    --swatch_angle_step:25deg;              /* Must change angle_step in swatch.js with this!*/
    --visualization_border_width:0px;

}

*{                              /*Formats all*/
    margin:0px;
    padding:0px;
    border-style: solid;
    border-width: var(--visualization_border_width);
    color: rgb(255, 255, 255);
}

title{
    display: none;
}

body{
    width:100vw;                /*Head kullanmayıp, sadece body kullandığımız ve onu da 100 vw,vh ile ölçeklendirdiğimiz için hiçbir zaman scrollable olamayacak, nice*/
    height:100vh;
    font-family: 'League Spartan', sans-serif;
    background: rgb(29, 29, 29);
    overflow: hidden;           /*Non-Scrollable Page*/
  }



#landing_header_name, #landing_header_start, #landing_header_middle, #landing_header_end{
    width: auto;
    position: absolute;
    top: 50vmin;
    padding-top: 1.75vmin;      /*Perfect for dead center at this font*/

    text-align: center;
    font-size: 8vmin;
    font-weight: 600;

}

#landing_logo{
    width: 5vmin;
    position: absolute;
    bottom: 5px;
    right: 5px;
}

#landing_header_name{
    left: calc(25%);
    transform: translateY(-150%)
}

#landing_header_start{
    right: calc(50% + 2.75vmin);
    transform: translateY(-50%);
}

#landing_header_middle{
    left: calc(50% + 0.2vmin); /*Special value to make the letter "O" dead center in the page. (So it will be used as the center of rotation, nice*/
    transform: translate(-50%, -50%);
}

#landing_header_end{
    left: calc(50% + 3.2vmin);
    transform: translateY(-50%);
}

#landing_swatch_container{
    width: 100vmin;
    height: 100vmin;
    position: absolute;
    margin-left: 25%;
    transform-origin: 50vmin 50vmin;
    transition: 0.2s;           /*This makes the rotation smooth*/

}

#swatch_roboticist, #swatch_botsmith, #swatch_inventor, #swatch_writer, #swatch_traveller{
    width: auto;
    height: auto;
    margin-left: 70vmin;

    position: absolute;
    top: 47.25vh;
    text-align: left;

    transform-origin: -19.8vh 2.75vh;

    font-size: 5.5vmin;
    font-weight: 550;
    padding-top: 1.203125vmin;      /*Perfect for dead center at this font*/

    cursor: pointer;
}

#swatch_roboticist{

}

#swatch_botsmith{
    transform:rotate(var(--swatch_angle_step));
}


#swatch_inventor{
    transform:rotate(calc(var(--swatch_angle_step) * 2));
}

#swatch_writer{
    transform:rotate(calc(var(--swatch_angle_step) * 3));
}

#swatch_traveller{
    transform:rotate(calc(var(--swatch_angle_step) * 4));
}

#swatch_roboticist:hover {
    color: var(--swatch_red);
    text-shadow:    0 0 50px var(--swatch_red),
                    0 0 100px var(--swatch_red),
                    0 0 150px var(--swatch_red),
                    0 0 200px var(--swatch_red),
                    0 0 300px var(--swatch_red);
}

#swatch_botsmith:hover {
    color: var(--swatch_purple);
    text-shadow:    0 0 50px var(--swatch_purple),
                    0 0 100px var(--swatch_purple),
                    0 0 150px var(--swatch_purple),
                    0 0 200px var(--swatch_purple),
                    0 0 300px var(--swatch_purple);
}

#swatch_inventor:hover {
    color: var(--swatch_orange);
    text-shadow:    0 0 50px var(--swatch_orange),
                    0 0 100px var(--swatch_orange),
                    0 0 150px var(--swatch_orange),
                    0 0 200px var(--swatch_orange),
                    0 0 300px var(--swatch_orange);
}

#swatch_writer:hover {
    color: var(--swatch_turqoise);
    text-shadow:    0 0 50px var(--swatch_turqoise),
                    0 0 100px var(--swatch_turqoise),
                    0 0 150px var(--swatch_turqoise),
                    0 0 200px var(--swatch_turqoise),
                    0 0 300px var(--swatch_turqoise);
}

#swatch_traveller:hover {
    color: var(--swatch_green);
    text-shadow:    0 0 50px var(--swatch_green),
                    0 0 100px var(--swatch_green),
                    0 0 150px var(--swatch_green),
                    0 0 200px var(--swatch_green),
                    0 0 300px var(--swatch_green);
}

#centered{
    width: 50vh;
    height: 50vh;
    text-align: center;

}

#half_page{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 2px;
    height: 50vh;

}