:root {
    --swatch_red:hsl(0, 60%, 50%); /*(199, 68, 74) <- solukluğu iyi gibi bu hue(?) da renkleri bulalım*/
    --swatch_purple:hsl(295, 60%, 50%);
    --swatch_orange:hsl(30, 60%, 50%);
    --swatch_turqoise:hsl(167, 60%, 50%);
    --visualization_border_width:0px;

}

*{                              /*Formats all*/
    margin:0px;
    padding:0px;
}

title{
    display: none;
    border-width: 0px;
}


body{
    width:100vw;                /*Head kullanmayıp, sadece body kullandığımız ve onu da 100 vw,vh ile ölçeklendirdiğimiz için hiçbir zaman scrollable olamayacak, nice*/
    height:100vh;
    font-family: 'League Spartan', sans-serif;
    background: radial-gradient(ellipse at center, rgba(255,255,255,0.56) 0%,rgba(127,127,127,1) 100%);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

#landing_container{
    margin-right: 20.8vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#landing_logo{
    padding-bottom: 6vh;
    border-style: solid;
    border-width: var(--visualization_border_width);

}

#landing_header{
    width: 39vw;
    height: auto;
    padding-bottom:0.1vh;
    padding-top: 0.8vh;
    text-align: center;
    font-size: 3.5vw;
    font-weight: 600;
    border-style: solid;
    border-width: var(--visualization_border_width);

}

#landing_swatch_container{
    width: 100vh;
    height: 100vh;
    position: absolute;
    left: 29.3vw;
    border-style: solid;
    border-width: var(--visualization_border_width);
    transform-origin: 50vh 50vh;
    transition: 0.3s;                                   /*This makes the rotation smooth*/

}

#swatch_roboticist, #swatch_botsmith, #swatch_inventor, #swatch_writer{
    width: auto;
    height: 3vh;
    margin-left: 70vh;
    position: absolute;
    top: 48.5vh;
    text-align: left;
    font-size: 2.55vw;
    font-weight: 550;
    color: white;
    cursor: pointer;
    transform-origin: -20vh 1.5vh;
}

#swatch_roboticist{

}

#swatch_botsmith{
    transform:rotate(15deg);
}


#swatch_inventor{
    transform:rotate(30deg);
}

#swatch_writer{
    transform:rotate(45deg);
}

#swatch_roboticist:hover {
    color: var(--swatch_red);
    text-shadow:    0 0 50px var(--swatch_red),
                    0 0 100px var(--swatch_red),
                    0 0 150px var(--swatch_red),
                    0 0 200px var(--swatch_red),
                    0 0 300px var(--swatch_red);
}

#swatch_botsmith:hover {
    color: var(--swatch_purple);
    text-shadow:    0 0 50px var(--swatch_purple),
                    0 0 100px var(--swatch_purple),
                    0 0 150px var(--swatch_purple),
                    0 0 200px var(--swatch_purple),
                    0 0 300px var(--swatch_purple);
}

#swatch_inventor:hover {
    color: var(--swatch_orange);
    text-shadow:    0 0 50px var(--swatch_orange),
                    0 0 100px var(--swatch_orange),
                    0 0 150px var(--swatch_orange),
                    0 0 200px var(--swatch_orange),
                    0 0 300px var(--swatch_orange);
}

#swatch_writer:hover {
    color: var(--swatch_turqoise);
    text-shadow:    0 0 50px var(--swatch_turqoise),
                    0 0 100px var(--swatch_turqoise),
                    0 0 150px var(--swatch_turqoise),
                    0 0 200px var(--swatch_turqoise),
                    0 0 300px var(--swatch_turqoise);
}

#centered{
    width: 50vh;
    height: 50vh;
    text-align: center;
    border-style: solid;
    border-width:  var(--visualization_border_width);

}