:root {
    --red_robo:rgb(188, 46, 36);
}



body{
    margin:0px;
    width:100vw;
    height:100vh;
    font-family: 'League Spartan', sans-serif;
  }

#landing_container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0px;
    width:100vw;
    height:100vh;
}

#landing_header_container{
    width: 39vw;
    height: auto;
    background: blue;
    padding-bottom:0.6vh;
    padding-top: 1vh;
    text-align: center;
    font-size: 3.5vw;
    font-weight: 600;

}

#landing_swatch_container{
    margin:0px;
    width:17vw;
    height:500px;
    background: black;
}

#swatch_roboticist{
    margin-bottom:0.3vh;
    margin-top: 0.6vh;
    text-align: right;
    font-size: 2.55vw;
    font-weight: 550;
    color: white;
    transition: 0.3s;
}


#swatch_roboticist:hover {
    color: var(--red_robo);
    text-shadow:    0 0 50px var(--red_robo),
                    0 0 100px var(--red_robo),
                    0 0 150px var(--red_robo),
                    0 0 200px var(--red_robo),
                    0 0 300px var(--red_robo);
}

