/*SWATCH*/
#landing_swatch_wrapper{  
    width: 100vmin;
    height: 100vmin;

    position: absolute;
    left: calc((100vw - 100vmin)/2);

    transform-origin: 50vmin 50vmin;
    transition: 0.2s;           /*This makes the rotation smooth*/
}

.swatch_element{
    position: absolute;
    top: 47.25vh;
    padding-left: 70vmin;

    font-size: 5.5vmin;
    font-weight: 550;
    text-align: left;
    padding-top: 1.2vmin;      /*Perfect for dead center at this font*/

    transform-origin: 50vmin 2.75vmin;

    cursor: pointer;
}

@-moz-document url-prefix() {
    .swatch_element {
        padding-left: 72vmin;
    }
}

.swatch_element:moz

#swatch_roboticist{
}
#swatch_roboticist:hover {
    color: var(--swatch_red);
    text-shadow:    0 0 50px var(--swatch_red),
                    0 0 100px var(--swatch_red),
                    0 0 150px var(--swatch_red),
                    0 0 200px var(--swatch_red),
                    0 0 300px var(--swatch_red);
}

#swatch_botsmith{
    transform:rotate(var(--swatch_angle_step));
}
#swatch_botsmith:hover {
    color: var(--swatch_purple);
    text-shadow:    0 0 50px var(--swatch_purple),
                    0 0 100px var(--swatch_purple),
                    0 0 150px var(--swatch_purple),
                    0 0 200px var(--swatch_purple),
                    0 0 300px var(--swatch_purple);
}

#swatch_designer{
    transform:rotate(calc(var(--swatch_angle_step) * 2));
}
#swatch_designer:hover {
    color: var(--swatch_orange);
    text-shadow:    0 0 50px var(--swatch_orange),
                    0 0 100px var(--swatch_orange),
                    0 0 150px var(--swatch_orange),
                    0 0 200px var(--swatch_orange),
                    0 0 300px var(--swatch_orange);
}

#swatch_writer{
    transform:rotate(calc(var(--swatch_angle_step) * 3));
}
#swatch_writer:hover {
    color: var(--swatch_turqoise);
    text-shadow:    0 0 50px var(--swatch_turqoise),
                    0 0 100px var(--swatch_turqoise),
                    0 0 150px var(--swatch_turqoise),
                    0 0 200px var(--swatch_turqoise),
                    0 0 300px var(--swatch_turqoise);
}

#swatch_traveller{
    transform:rotate(calc(var(--swatch_angle_step) * 4));
}
#swatch_traveller:hover {
    color: var(--swatch_green);
    text-shadow:    0 0 50px var(--swatch_green),
                    0 0 100px var(--swatch_green),
                    0 0 150px var(--swatch_green),
                    0 0 200px var(--swatch_green),
                    0 0 300px var(--swatch_green); 
}



/*
#swatch_element_i{
    transform:rotate(calc(var(--swatch_angle_step) * i));
}
#swatch_element_i:hover {
    color: var(--swatch_i);
    text-shadow:    0 0 50px var(--swatch_i),
                    0 0 100px var(--swatch_i),
                    0 0 150px var(--swatch_i),
                    0 0 200px var(--swatch_i),
                    0 0 300px var(--swatch_i); 
}
*/







