/*SWEEPER*/
#sweeper_wrapper{
    width: 100vw;
    height: 100vh;

    position: absolute;
    left: calc(100vw + 5vmin);

    display: flex;

    transition: 1s;
    z-index: 1;
}

#sweeper_neon{
    width: 0.75vmin;
    height: 100vh;

    z-index: 2;
}

#sweeper_blanket{
    width: calc(100vw - 0.75vmin);
    height: 100vh;

    background-color: var(--bg_black);
}

#sweeper_divider{
    width: calc(100vw + 0.75vmin);
    height: 0.75vmin;

    position: absolute;
    left: calc(100vw + 5vmin);
    top: 8vmin;

    background-color: rgb(255,255,255);

    transition: 1s;

    z-index: 1;

}


